a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .navigation-items {
    display: none;
  }
}

mat-sidenav {
  width: 250px;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  width: 100%;
}

.navigation-title {
  margin-right: auto; /* Balra igazítja az oldalcímet */
}

@media screen and (min-width: 576px) {
  .menu-wrapper {
    display: none;
  }
}
