.product-item {
  display: inline-block;
  width: calc(100% / 4 - 20px); // 4 elem egy sorban
  margin: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 10px;
  }
}
