<div *ngFor="let product of products; let i = index" class="product-item">
  <h2> <strong>Name: {{ product.name }}</strong></h2>
  <img [src]="product.imageUrl" (click)="onProductClick(product)" alt="{{ product.name }}">
  <p> <strong>Price: {{ product.price }} $</strong></p>
</div>

<div class="pagination">
  <button (click)="prev()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }}</span>
  <button (click)="next()" [disabled]="(currentPage * limit) >= totalProducts">Next</button>
</div>
